<!DOCTYPE html>
<html>
<head>
<%- include ./include/html_header.ejs %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">ホワイトボード君</a>
		</div>
	</div>
</div>
<div class="container">
	<a class="btn btn-primary btn-large btn-block" href="/auth/twitter">twitter login</a>
</div>
</body>
</html>
