<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>ログイン</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<section>
<h1>ログイン1</h1>
<a href="/auth/twitter">twitter login</a>
</body>
</html>
