<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
	<canvas height="480" id="canvas"></canvas>
	<div class="tools-container">
		<div class="btn-container">
			<div class="func-tool-container">
				<ul>
					<li><button class="" id="undo-btn">UNDO</button></li>
					<li><button class="" id="redo-btn">REDO</button></li>
					<li><button class="" id="clear-btn">CLEAR</button></li>
					<li><button class="" id="save-btn">SAVE</button></li>
				</ul>
			</div>
			<div class="draw-tool-container">
				<ul>
					<li><button class="btn-tools-close">✖</button></li>
					<li><button class="" id="pencil-btn">★</button></li>
					<li><button class="icon-upload-alt" id="eraser-btn">★</button></li>
					<li><button class="icon-plus-sign" id="color-btn">★</button></li>
					<li><button class="icon-plus-sign" id="thickness-btn">★</button></li>			
				</ul>
			</div>
		</div>
		<div class="btn-tools-open">〇</div>
	</div>
</div>
<section>

	
	<ul>
		<li id="connectId"></li>
		<li id="type"></li>
	</ul>
	<button id="saveBtn" data-id="<%= id %>">保存</button>
</section>
<script>
;(function(window) {
	window.bitmapData = '<%= bitmapData %>';
}(window));
</script>

<script data-main="/javascripts/config" src="/javascripts/vendor/require.js"></script>
</body>
</html>
