<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="paint-container">
	<canvas height="480" id="canvas"></canvas>
	<div class="func-container">
		<ul>
			<li><button class="small">UNDO</button></li>
			<li><button class="small">REDO</button></li>
			<li><button class="small">CLEAR</button></li>
			<li><button class="small">SAVE</button></li>
		</ul>
	</div>
	<div class="tool-container">
		<ul class="button-bar">
			<li><button class="close">✖</button></li>
			<li><button class="icon-tag touch">★</button></li>
			<li><button class="icon-upload-alt selected">★</button></li>
			<li><button class="icon-plus-sign">★</button></li>
			<li><button class="icon-plus-sign">★</button></li>
			<li><button class="icon-plus-sign">★</button></li>
			
		</ul>
	</div>
</div>
<section>

	
	<ul>
		<li id="connectId"></li>
		<li id="type"></li>
	</ul>
	<button id="saveBtn" data-id="<%= id %>">保存</button>
</section>
<script>
;(function(window) {
	window.bitmapData = '<%= bitmapData %>';
}(window));
</script>

<script data-main="/javascripts/config" src="/javascripts/vendor/require.js"></script>
</body>
</html>
