<!DOCTYPE html>
<html>
<head>
<%- include ./include/html_header.ejs %>
<style type="text/css">
	.icon {
		margin-right: 3px;
	}
	.box-link {
		display: block;
		line-height: 40px;
	}
</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">ホワイトボード君</a>
		</div>
	</div>
</div>
<div class="container">
	<h2><%= title %></h2>
	<div class="row">
		<div class="span5"><a class="box-link" href="/room/<%= id %>/whiteboard"><i class="icon icon-picture"></i>ホワイトボード</a></div>
		<div class="span5"><a class="box-link" href="/room/<%= id %>/pen"><i class="icon icon-pencil"></i>ペン</a></div>
	</div>
</div>
</body>
</html>
