<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
	<p><a href="/room/<%= id %>/whiteboard">ホワイトボードへ</a></p>
	<p><a href="/room/<%= id %>/pen">ペンへ</a></p>
</div>
</body>
</html>
