<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
	<canvas height="480" id="canvas"></canvas>
</div>
<section>
	<ul>
		<li id="connectId"></li>
		<li id="type"></li>
	</ul>
	<button id="saveBtn" data-id="<%= id %>">保存</button>
</section>
<div class="cursor-container invisible">
	<ul>
		<li class="cursor">✠</li>
		<li class="user-info"></li>
	</ul>
</div>

<script data-main="/javascripts/config" src="/javascripts/vendor/require.js"></script>
</body>
</html>
