body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
a {
  color: #00b7ff;
}
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
p,
blockquote,
fieldset,
div {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul li,
ol li {
  list-style: none;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
caption {
  text-align: left;
}
table,
pre,
code,
select,
input,
textarea,
kbd,
var,
ins,
del,
samp {
  font-size: 100%;
}
address,
cite,
dfn,
em,
strong,
var,
th,
ins,
del,
samp {
  font-weight: normal;
  font-style: normal;
}
a img {
  border: 0;
}
fieldset {
  border: none;
}
img {
  vertical-align: bottom;
}
.wrapper {
  width: 320px;
  height: 480px;
  position: relative;
}
.tools-container .btn-touched {
  background: #fff;
}
.tools-container .btn-selected {
  background: -webkit-linear-gradient(top, #f10000 0%, #c40000 100%);
  color: #fff;
}
.tools-container .btn-disabled {
  color: #aaa;
}
.tools-container button {
  border: 1px #aaa solid;
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
}
.func-tool-container {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}
.func-tool-container ul {
  display: -webkit-box;
}
.func-tool-container li {
  margin-right: 5px;
}
.func-tool-container button {
  border-radius: 5px;
  width: 60px;
  height: 30px;
}
.draw-tool-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.draw-tool-container ul {
  height: 480px;
  border-right: 1px #aaa solid;
  background: #f6f6f6;
}
.draw-tool-container li {
  margin-right: -1px;
  text-align: center;
}
.draw-tool-container li:not(:last-child) button {
  border-bottom: none;
}
.draw-tool-container li:first-child button {
  border-top: none;
}
.draw-tool-container button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-left: none;
}
.draw-tool-container button.btn-tools-close {
  background: -webkit-linear-gradient(top, #646464 0%, #323232 100%);
  color: #fff;
  height: 30px;
}
.btn-tools-open {
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  border: 1px #aaa solid;
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  border-radius: 20px;
  opacity: 0.5;
  line-height: 35px;
}
