body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
a {
  color: #00b7ff;
}
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
p,
blockquote,
fieldset,
div {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul li,
ol li {
  list-style: none;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
caption {
  text-align: left;
}
table,
pre,
code,
select,
input,
textarea,
kbd,
var,
ins,
del,
samp {
  font-size: 100%;
}
address,
cite,
dfn,
em,
strong,
var,
th,
ins,
del,
samp {
  font-weight: normal;
  font-style: normal;
}
a img {
  border: 0;
}
fieldset {
  border: none;
}
img {
  vertical-align: bottom;
}
.paint-container {
  width: 320px;
  height: 480px;
  position: relative;
}
.func-container {
  position: absolute;
  top: 5px;
  right: 5px;
}
.func-container button,
.tool-container button {
  border: 1px #aaa solid;
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
}
.func-container button.touch,
.tool-container button.touch {
  background: #fff;
}
.func-container button.selected,
.tool-container button.selected {
  background: -webkit-linear-gradient(top, #f10000 0%, #c40000 100%);
  color: #fff;
}
.func-container ul {
  display: -webkit-box;
}
.func-container li {
  margin-right: 5px;
}
.func-container button {
  border-radius: 5px;
  width: 60px;
  height: 30px;
}
.tool-container {
  position: absolute;
  top: 0;
  left: 0;
}
.tool-container ul {
  height: 480px;
  border-right: 1px #aaa solid;
  background: #f6f6f6;
}
.tool-container li {
  margin-right: -1px;
  text-align: center;
}
.tool-container li:not(:last-child) button {
  border-bottom: none;
}
.tool-container li:first-child button {
  border-top: none;
}
.tool-container button {
  width: 41px;
  height: 41px;
  text-align: center;
  border-left: none;
}
.tool-container button.close {
  background: -webkit-linear-gradient(top, #646464 0%, #323232 100%);
  color: #fff;
  height: 30px;
}
