body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
a {
  color: #00b7ff;
}
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
p,
blockquote,
fieldset,
div {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul li,
ol li {
  list-style: none;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
caption {
  text-align: left;
}
table,
pre,
code,
select,
input,
textarea,
kbd,
var,
ins,
del,
samp {
  font-size: 100%;
}
address,
cite,
dfn,
em,
strong,
var,
th,
ins,
del,
samp {
  font-weight: normal;
  font-style: normal;
}
a img {
  border: 0;
}
fieldset {
  border: none;
}
img {
  vertical-align: bottom;
}
