body
	padding 50px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	margin 0
	padding 0
	text-align center
a
	color #00B7FF
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,p,blockquote,fieldset,div 
	margin 0
	padding 0
h1,h2,h3,h4,h5,h6 
	font-size 100%
	font-weight normal
ul li, ol li 
	list-style none
table 
	margin 0
	padding 0
	border-collapse collapse
	border-spacing 0
	font-size 100%
caption 
	text-align left
table,pre,code,select,input,textarea,kbd,var,ins,del,samp 
	font-size 100%
address,cite,dfn,em,strong,var,th,ins,del,samp 
	font-weight normal
	font-style normal
a img 
	border 0
fieldset 
	border none
img 
	vertical-align bottom
.paint-container
	width 320px
	height 480px
	position relative
.func-container
	position absolute
	top 5px
	right 5px
.func-container button,
.tool-container button
	border 1px #aaa solid
	background -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%)
	&.btn-touch
		background #fff
	&.btn-selected
		background -webkit-linear-gradient(top, rgba(241, 0, 0,1) 0%,rgba(196, 0, 0,1) 100%)
		color #fff

.func-container 
	ul
		display -webkit-box
	li
		margin-right 5px
	button
		border-radius 5px
		width 60px
		height 30px

.tool-container 
	position absolute
	top 0
	left 0
	ul
		height 480px
		border-right 1px #aaa solid
		background: #f6f6f6
	li
		margin-right -1px
		text-align center
		&:not(:last-child)
			button
				border-bottom none
		&:first-child
			button
				border-top none
	button
		width 41px
		height 41px
		text-align center
		border-left none
		&.close
			background -webkit-linear-gradient(top, rgba(100,100,100,1) 0%,rgba(50,50,50,1) 100%)
			color #fff
			height 30px
